version: 2.1

parameters:
  build-image:
    type: boolean
    default: false

jobs:
  php81-arm64:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true 
    resource_class: arm.medium
    steps:
      - checkout

      - run: echo "$GHCR_PASSWORD" | docker login ghcr.io -u shyim --password-stdin

      - run: docker build -t ghcr.io/shyim/shopware-nginx:8.1-arm64 -t ghcr.io/shyim/shopware-nginx:8.1.27-arm64 -f nginx/8.1/Dockerfile .

      - run: docker push ghcr.io/shyim/shopware-nginx:8.1-arm64

      - run: docker push ghcr.io/shyim/shopware-nginx:8.1.27-arm64

  php81-amd64:
      machine:
        image: ubuntu-2004:current
        docker_layer_caching: true 
      resource_class: medium
      steps:
        - checkout
  
        - run: echo "$GHCR_PASSWORD" | docker login ghcr.io -u shyim --password-stdin
  
        - run: docker build -t ghcr.io/shyim/shopware-nginx:8.1-amd64 -t ghcr.io/shyim/shopware-nginx:8.1.27-amd64 -f nginx/8.1/Dockerfile .
  
        - run: docker push ghcr.io/shyim/shopware-nginx:8.1-amd64

        - run: docker push ghcr.io/shyim/shopware-nginx:8.1.27-amd64
  
  php82-arm64:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true 
    resource_class: arm.medium
    steps:
      - checkout

      - run: echo "$GHCR_PASSWORD" | docker login ghcr.io -u shyim --password-stdin

      - run: docker build -t ghcr.io/shyim/shopware-nginx:8.2-arm64 -t ghcr.io/shyim/shopware-nginx:8.2.17-arm64 -f nginx/8.2/Dockerfile .

      - run: docker push ghcr.io/shyim/shopware-nginx:8.2-arm64

      - run: docker push ghcr.io/shyim/shopware-nginx:8.2.17-arm64

  php82-amd64:
      machine:
        image: ubuntu-2004:current
        docker_layer_caching: true 
      resource_class: medium
      steps:
        - checkout
  
        - run: echo "$GHCR_PASSWORD" | docker login ghcr.io -u shyim --password-stdin
  
        - run: docker build -t ghcr.io/shyim/shopware-nginx:8.2-amd64 -t ghcr.io/shyim/shopware-nginx:8.2.17-amd64 -f nginx/8.2/Dockerfile .
  
        - run: docker push ghcr.io/shyim/shopware-nginx:8.2-amd64

        - run: docker push ghcr.io/shyim/shopware-nginx:8.2.17-amd64
  
  php83-arm64:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true 
    resource_class: arm.medium
    steps:
      - checkout

      - run: echo "$GHCR_PASSWORD" | docker login ghcr.io -u shyim --password-stdin

      - run: docker build -t ghcr.io/shyim/shopware-nginx:8.3-arm64 -t ghcr.io/shyim/shopware-nginx:8.3.4-arm64 -f nginx/8.3/Dockerfile .

      - run: docker push ghcr.io/shyim/shopware-nginx:8.3-arm64

      - run: docker push ghcr.io/shyim/shopware-nginx:8.3.4-arm64

  php83-amd64:
      machine:
        image: ubuntu-2004:current
        docker_layer_caching: true 
      resource_class: medium
      steps:
        - checkout
  
        - run: echo "$GHCR_PASSWORD" | docker login ghcr.io -u shyim --password-stdin
  
        - run: docker build -t ghcr.io/shyim/shopware-nginx:8.3-amd64 -t ghcr.io/shyim/shopware-nginx:8.3.4-amd64 -f nginx/8.3/Dockerfile .
  
        - run: docker push ghcr.io/shyim/shopware-nginx:8.3-amd64

        - run: docker push ghcr.io/shyim/shopware-nginx:8.3.4-amd64
  

  merge-manifest:
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true 
    resource_class: medium
    steps:
      - run: echo "$GHCR_PASSWORD" | docker login ghcr.io -u shyim --password-stdin

      - run: docker manifest create ghcr.io/shyim/shopware-nginx:8.1 --amend ghcr.io/shyim/shopware-nginx:8.1.27-amd64 --amend ghcr.io/shyim/shopware-nginx:8.1.27-arm64

      - run: docker manifest create ghcr.io/shyim/shopware-nginx:8.1.27 --amend ghcr.io/shyim/shopware-nginx:8.1.27-amd64 --amend ghcr.io/shyim/shopware-nginx:8.1.27-arm64

      - run: docker manifest push ghcr.io/shyim/shopware-nginx:8.1

      - run: docker manifest push ghcr.io/shyim/shopware-nginx:8.1.27

      - run: docker manifest create ghcr.io/shyim/shopware-nginx:8.2 --amend ghcr.io/shyim/shopware-nginx:8.2.17-amd64 --amend ghcr.io/shyim/shopware-nginx:8.2.17-arm64

      - run: docker manifest create ghcr.io/shyim/shopware-nginx:8.2.17 --amend ghcr.io/shyim/shopware-nginx:8.2.17-amd64 --amend ghcr.io/shyim/shopware-nginx:8.2.17-arm64

      - run: docker manifest push ghcr.io/shyim/shopware-nginx:8.2

      - run: docker manifest push ghcr.io/shyim/shopware-nginx:8.2.17

      - run: docker manifest create ghcr.io/shyim/shopware-nginx:8.3 --amend ghcr.io/shyim/shopware-nginx:8.3.4-amd64 --amend ghcr.io/shyim/shopware-nginx:8.3.4-arm64

      - run: docker manifest create ghcr.io/shyim/shopware-nginx:8.3.4 --amend ghcr.io/shyim/shopware-nginx:8.3.4-amd64 --amend ghcr.io/shyim/shopware-nginx:8.3.4-arm64

      - run: docker manifest push ghcr.io/shyim/shopware-nginx:8.3

      - run: docker manifest push ghcr.io/shyim/shopware-nginx:8.3.4

workflows:
  build-base-image:
    when: << pipeline.parameters.build-image >>
    jobs:
      - php81-arm64
      - php81-amd64
      - php82-arm64
      - php82-amd64
      - php83-arm64
      - php83-amd64
      - merge-manifest:
          requires:
            - php81-arm64
            - php81-amd64
            - php82-arm64
            - php82-amd64
            - php83-arm64
            - php83-amd64
