name: Generate Images
on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

permissions:
  id-token: write

jobs:
  update:
    name: Generate Builds
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Generate files
        run: |
          php generate_shopware.php
          php generate_php.php nginx
          php generate_php.php caddy
          
      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: ${{ github.repository }}
          identity: update

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ steps.octo-sts.outputs.token }}
          commit-message: 'New docker updates'
          delete-branch: true
          assignees: shyim
          reviewers: shyim
